---
layout: layout.njk
title: Random Game
permalink: /games/random/
---

<h1>Random Game</h1>

<noscript>
  <div class="alert alert-warning">
    You need JavaScript to use the random game generator. You can manually pick a game from the <a href="{{ '/games/' | url }}">games index</a>.
  </div>
</noscript>

<div class="alert alert-info">
  <p>Redirecting to a random game in 2 seconds...</p>
</div>

<script id="game-list" type="application/json">
[
  {% for game in games %}{{ game.id }}{% if not loop.last %},{% endif %}{% endfor %}
]
</script>

<script>
  const gameIds = JSON.parse(document.querySelector("#game-list").textContent);
  const randomId = gameIds[Math.floor(Math.random() * gameIds.length)];
  const pathPrefix = '{{ "/" | url }}';

  setTimeout(() => {
    window.location = `${pathPrefix}games/${randomId}/`;
  }, 2000);
</script>
